@model Vicinor.Model.Recenzija

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Recenzija</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Comment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StarRating)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StarRating)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TimeOfRez)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TimeOfRez)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.RecenzijaId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
