@model IEnumerable<Vicinor.Model.Recenzija>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Comment)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StarRating)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TimeOfRez)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Comment)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StarRating)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TimeOfRez)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.RecenzijaId }) |
            @Html.ActionLink("Details", "Details", new { id=item.RecenzijaId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.RecenzijaId })
        </td>
    </tr>
}

</table>
